.chat-bubble {
    padding: 10px;
    margin: 5px;
    border-radius: 30px; /* Cantos arredondados */
    clear: both;
    overflow: hidden;
}

.you {
    background-color: #25D366;
    color: #fff;
    align-self: flex-start;
    float: left; /* Alinha à esquerda */
}

.me {
    background-color: orange;
    color: #fff;
    align-self: flex-end;
    float: right; /* Alinha à direita */
}

/* Adicione as regras CSS para a formatação do nome de usuário e timestamp */
.message-info {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-text {
    max-width: 100%;
}

.username {
    color: #000000;
    margin-right: 5px;
}

.timestamp {
    color: #323232;
    align-self: flex-end;
    float: right; /* Alinha à direita */
}
