.keyboard-container {
    max-width: 90%;
    max-height: auto;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    justify-content: center;
    align-items: center; /* Alinhe verticalmente no centro */
    position: relative;
    overflow: hidden;
}


.keyboard {
    position: absolute;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinhe verticalmente no centro */
    position: relative;
    width: auto;
    height: auto;
}

.keyboard-row {
    margin-bottom: 5px;
}

.number-row {
    margin-bottom: 5px;
}

.key {
    display: inline-block;
    margin: 1%;
    border: 2px solid #ccc;
    background-color: #cbc9c986;
    border-radius: 10%;
    position: relative; 
    min-width: 30px;
    min-height: 30px;
    max-width: 60px;
    max-height: 60px;
}

.key img {
    width: 100%; /* Ajuste o tamanho da imagem em relação à largura da tecla */
    height: 100%; /* Ajuste a altura da imagem em relação à altura da tecla */
    max-width: 100%; /* Evite que a imagem se estique além da largura da tecla */
    max-height: 100%; /* Evite que a imagem se estique além da altura da tecla */
    position: absolute; /* Posicione a imagem dentro da tecla */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centralize a imagem dentro da tecla */
}


.key.backspace {
    grid-column: span 2;
    background-color: #ff5555;
    color: white;
    padding: 5px 10px;
    border: 2px solid #f12e2e;
    cursor: pointer;
    border-radius: 10px;
}

.key.backspace:hover {
    background-color: #a83939;
}

.key.space {
    grid-column: span 2;
    color: white;
    padding: 5px 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}


.key.number {
    grid-column: span 2;
    background-color: #8ab5ffe8;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.key.number:hover {
    background-color: #035efb97
}

.key:hover{
    background-color:  #8a888886;
}


.number-row {
    max-width: 500px;
}

.keyboard-container {
    text-align: center;
}

.math button {
    display: inline-block; /* ou inline-flex */
    margin-right: 10px; /* Espaço entre os botões, se necessário */
    vertical-align: middle;
}

.sizeOfImage {
    width: 7%;
    max-width: 40px; /* Tamanho máximo em pixels */
    min-width: 30px;
    height: auto; /* Mantém a proporção original */
    display: inline-block;
    border-radius: 10%;
    flex-shrink: 1;
    position: relative;
}

.sizeOfImage.number {
    background-color:  #8ab5ffe8;
}

.sizeOfImageWord {
    width: 7%;
    max-width: 40px; /* Tamanho máximo em pixels */
    min-width: 30px;
    height: auto; /* Mantém a proporção original */
    display: inline-block;
    border-radius: 10%;
    flex-shrink: 1;
    position: relative;
    border: 2px solid black; /* Adicione a borda aqui */
    padding: 5px; /* Adicione o espaçamento interno desejado aqui */
    margin: 5px;
}


.button {
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px; 
    display: flex;
    margin: 5px;
    justify-content: center; /* Alinhe horizontalmente no centro */
    align-items: center; /* Alinhe verticalmente no centro */
    position: relative;
}

.button:hover {
    background-color: rgb(145, 94, 1);
}

.button img {
    max-width: 100%;
    max-height: 100%; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Corrija o centro da imagem */
}

#send-button {
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px; 
    display: flex;
    margin: 5px;
    justify-content: center; /* Alinhe horizontalmente no centro */
    align-items: center; /* Alinhe verticalmente no centro */
    position: relative;
}

#send-button :hover {
    background-color: rgb(145, 94, 1);
}

#send-button img {
    width: 100%; /* Ajuste o tamanho da imagem em relação à largura da tecla */
    height: 100%; /* Ajuste a altura da imagem em relação à altura da tecla */
    max-width: 100%; /* Evite que a imagem se estique além da largura da tecla */
    max-height: 100%; /* Evite que a imagem se estique além da altura da tecla */
    position: absolute; /* Posicione a imagem dentro da tecla */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centralize a imagem dentro da tecla */
}
