body {
    font-family: Arial, sans-serif;
}
#container {
    max-width: 600px;
    margin: 0 auto;
}
.post {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}
.post input[type="text"] {
    width: 100%;
    padding: 5px;
}
.post-info {
    font-size: 12px;
    color: #888;
    display: flex;
    justify-content: center;
}
.user-info {
    font-weight: bold;
}
.user-info:hover {
    font-size: 20px;
}
.email {
    width: 50%;
    text-align: start;
}
.keyboard-type {
    width: 30%;
    text-align: center;
}
.time {
    width: 100%;
    text-align: end;
}
#char-count {
    color: #888;
}



.postsHeader {
    background-color: white;
    box-shadow: 0px 0px 10px #888;
    color: #000000;
    padding: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    max-width: 100vh;
    width: 80%;
}